---
title: Blogroll
---

<p>
  This blogroll is also available as <a href="/blogroll.xml">an OPML file</a>,
  which is accepted by many RSS readers.
</p>

<table>
  <thead>
    <tr>
      <th>Blog</th>
      <th>RSS</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for blog in site.data.blogroll.blogroll %}
    <tr>
      <td><a href="{{ blog.htmlUrl }}">{{ blog.title }}</a></td>
      <td>{% if blog.xmlUrl %}<a href="{{ blog.xmlUrl }}">Here</a>{% else %}Nope{% endif %}</td>
      <td>{{ blog.author }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
