---
layout: null
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="canonical" href="https://jameshfisher.com/"/>
    <link rel="stylesheet" href="/all.css" />
    <link rel="icon" type="image/png" href="/assets/jim_128.png" />
    <title>Jim Fisher</title>
    <style>
      div.calendar { border: 1px solid #aaa; }
      div.calendar_week { display: flex; }
      div.day { flex-grow: 1; border: 1px solid #aaa; display: flex; flex-direction: column; }
      div.post { flex-grow: 1; padding: 0.5em; border-bottom: 2px solid #aaa; }
      div.post:last-child { border: none; }
      div.day.day_no_posts { padding: 0.5em; background-color: #f9f9f9; }
      .jim_image { display: block; margin: 2em auto; width: 256px; padding: 10px; box-shadow: 2px 2px 10px #ccc; transform: rotate(2deg); }
    </style>
  </head>
  <body style="max-width: 100%;">
    <img src="/assets/jim_512.jpg" class="jim_image"/>

    <h1><a href="/">Jim Fisher</a></h1>

    <p>
      Developer of <a href="https://vidr.io">Vidrio</a>, the future of presentation.
      Other topics include C, UNIX, and networking.
      Also find me on <a href="https://github.com/jameshfisher">GitHub</a>,
      <a href="https://stackoverflow.com/users/229792/jameshfisher">Stack Overflow</a>,
      <a href="https://www.linkedin.com/in/jameshfisher/">LinkedIn</a>,
      <a href="https://twitter.com/MrJamesFisher">Twitter</a>,
      <a href="https://www.instagram.com/jameshfisher/">Instagram</a>,
      <a href="https://keybase.io/jameshfisher">Keybase</a>.
      Find my old blogs:
      <a href="https://eegg.wordpress.com/">Wordpress</a>,
      <a href="https://medium.com/@MrJamesFisher">Medium</a>.
    </p>

    <table>
      <tr>
        <td><a href="/">Blog.</a></td>
        <td><a href="/talks.html">Public speaking.</a></td>
        <td><a href="/friends.html">Friends.</a></td>
        <td><a href="https://vidr.io">Vidrio.</a></td>
      </tr>
    </table>

    {% assign postsByWeek = site.posts | group_by_exp:"post", "post.date | date: '%Y-W%W'" %}
    <div class="calendar">
      {% for week in postsByWeek %}
        {% assign postsByDay = week.items | group_by_exp:"post", "post.date | date: '%a'" %}
        <div class="calendar_week">
          {% assign prev_col = 0 %}
          {% for day in postsByDay reversed %}
          {% capture col %}{{ day.items.first.date | date: '%w' }}{% endcapture %}
          {% assign col = col | plus:0 %}
          {% if col == 0 %}{% assign col = 7 %}{% endif %}
          {% assign spacers = col | minus:prev_col | minus:1 %}
          {% for n in (1..spacers) %}
          <div class="day day_no_posts"></div>
          {% endfor %}
          <div class="day day_posts">
            {% for post in day.items %}
            <div class="post">
              <a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a>
              <span class="date">({{ day.items.first.date | date: '%b %-d' }})</span>
            </div>
            {% endfor %}
          </div>
          {% assign prev_col = col %}
          {% endfor %}
          {% assign spacers = 7 | minus:prev_col %}
          {% for n in (1..spacers) %}
          <div class="day day_no_posts"></div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90722538-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
