<style type="text/css">
body { margin: 0 1em; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }
#content { max-width: 50em; margin: 2em auto; }
* { font-size: 18px; line-height: 1.6em; box-sizing: border-box; }
hr { border: 1px solid black; }
code, .highlight { background: #eee; }
td, th { text-align: left; padding-right: 1em; vertical-align: top; }
.highlight .n, .highlight .nf, .highlight .nv { text-decoration: underline; }
.language-diff .highlight .gi { color: #22863a; background-color: #f0fff4; }
.language-diff .highlight .gd { color: #b31d28; background-color: #ffeef0; }
a:link, a:visited { text-decoration: none; }
.date { font-size: 0.7em; }
.jim_image { display: block; box-shadow: 2px 2px 10px #ccc; }
blockquote { border-left: 2px solid black; margin-left: 0; padding-left: 1rem; }
p > img, p > a > img { border: 2px solid black; width: 100%; }
.answer {
  border-color: #8ec58e;
  padding: 0 0.3rem;
  border-radius: 3px; border: 2px solid #8585d0;
}
.answer:not(.revealed) {
  color: rgba(0,0,0,0);
  background-image: url(/assets/question-mark.svg);
  cursor: pointer;
}
.answer:not(.revealed) * {
  opacity: 0;
}
.aside {
  float: right;
  max-width: 400px;
  margin: 0 0 0 1em;
}
sup, sub { font-size: 0.8em; vertical-align: baseline; position: relative; top: -0.4em; }
sub { top: 0.4em; }
small { font-size: smaller; }
</style>
