<style type="text/css">
body { margin: 0; font-family: sans-serif; }
#content { max-width: 50em; margin: 2em auto; }
* { font-size: 20px; line-height: 1.4em; }
code, .highlight { background: #eee; }
td, th { text-align: left; padding-right: 1em; vertical-align: top; }
.highlight .n, .highlight .nf, .highlight .nv { text-decoration: underline; }
a:link, a:visited { text-decoration: none; }
.date { font-size: 0.7em; }
</style>
