<style>
.navbar { display: flex; margin: 1em 0; }
.navbar .navbar-item { flex-grow: 1; text-align: center; }
</style>
<div class="navbar">
  <div class="navbar-item"><a href="/">Jim Fisher</a></div>
  <div class="navbar-item"><a href="{% link speaking.md %}">Speaking</a></div>
  <div class="navbar-item"><a href="{% link blogroll.html %}">Blogroll</a></div>
  <div class="navbar-item"><a href="https://vidr.io">Vidrio</a></div>
  <div class="navbar-item"><a href="https://jameshfisher.com/feed.xml">RSS</a></div>
</div>
