body {
  margin: 0 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222;
}
#content {
  margin: 2em 0;
}
#content > * {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
#content > canvas,
#content > video {
  display: block;
}
* {
  font-size: 18px;
  line-height: 1.6em;
  box-sizing: border-box;
}
hr {
  border: 1px solid black;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

@media print {
  * {
    font-size: 12pt;
  }

  .noprint {
    display: none;
  }

  a {
    color: inherit;
  }

  @page {
    margin: 20mm;
  }
}

/*
These old rules only apply to Rouge. We now use Prism which structures the page differently.

.highlight .n, .highlight .nf, .highlight .nv { text-decoration: underline; }
.language-diff .highlight .gi { color: #22863a; background-color: #f0fff4; }
.language-diff .highlight .gd { color: #b31d28; background-color: #ffeef0; }
*/

/*
These rules apply to Prism, but I decided Prism is worthless.

#content pre { max-width: none; width: 100%; margin-right: 0; overflow-x: auto; }
#content pre > code { display: block; max-width: 50em; margin: 0 auto; background: #eee; }
#content pre > code > .highlight-line { background: #eee; box-shadow: 0 0 0 4px #eee; }
code .token.function { text-decoration: underline; }
code { background: #eee; }
*/

/*
These rules are for standard, non-syntax-highlighted code.
Known deficiency: text overflowing a code block does not have a background color.
Future fix: wrap code blocks in another wrapper, but this requires some JS/plugin work.
*/
code {
  background: #eee;
}
#content pre {
  max-width: none;
  width: 100%;
  margin-right: 0;
  overflow-x: auto;
}
#content pre > code {
  display: block;
  max-width: 50em;
  margin: 0 auto;
}

td,
th {
  text-align: left;
  padding-right: 1em;
  vertical-align: top;
}

a:link,
a:visited {
  color: #00b;
}
.no-link-underlines a {
  /* Links should look like links. But there are exceptions (like navigation) where context shows it's a link, and underlines become noise. */
  text-decoration: none;
}

.date {
  font-size: 0.7em;
}

.jim_image {
  display: block;
  box-shadow: 2px 2px 10px #ccc;
}

blockquote {
  border-left: 2px solid black;
  margin-left: 0;
  padding-left: 1rem;
}

p > img,
p > a > img,
#content > video {
  border: 2px solid black;
  width: 100%;
}

.answer {
  border-color: #8ec58e;
  padding: 0 0.3rem;
  border-radius: 3px;
  border: 2px solid #8585d0;
}
.answer:not(.revealed) {
  color: rgba(0, 0, 0, 0);
  background-image: url(/assets/question-mark.svg);
  cursor: pointer;
}
.answer:not(.revealed) * {
  opacity: 0;
}

.aside {
  float: right;
  max-width: 400px;
  margin: 0 0 0 1em;
}

sup,
sub {
  font-size: 0.8em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

small {
  font-size: smaller;
}

/* Bullet points should have normal bullets, but be flush with the text. */
ul {
  padding-inline-start: 16px;
}
