{% capture newline %}
{% endcapture %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="white"/>
    <meta name="keywords" content="{% for tag in page.tags %}{{tag}}{% if forloop.last == false %}, {% endif %}{% endfor %}"/>
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{site.url}}{% link /assets/jim_512.jpg %}"/>
    <meta property="og:url" content="https://jameshfisher.com{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html | replace: newline, ' ' }}"/>
    <meta property="og:site_name" content="jameshfisher.com"/>
    <link rel="canonical" href="https://jameshfisher.com{{ page.url }}"/>
    <link rel="icon" type="image/png" href="{{site.url}}{% link /assets/jim_128.png %}" />
    <link rel="manifest" href="{% link manifest.json %}"/>
    <link rel="alternate" type="application/rss+xml" href="https://jameshfisher.com/feed.xml" />
    <title>{{page.title}}</title>
    {% include all.css %}
  </head>
  <body>
    <a href="/" style="display: block; transform: rotate(-5deg); margin: 0 2em 0 -1.6em; float: left;">
      <video autoplay loop poster="{% link /assets/jim_512.jpg %}" class="jim_image" style="height: 128px; object-fit: cover; padding: 5px;">
        <source src="{% link /assets/jim.webm %}" type="video/webm" />
        <source src="{% link /assets/jim.mp4 %}" type="video/mp4" />
      </video>
    </a>
    <div id="content">
      <h1>{% if page.author != "jim" %}Guest post: {% endif %}{{page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      {% if page.author != "jim" %}<h2>By <a href="{{site.data.people[page.author].url}}">{{site.data.people[page.author].name}}</a></h2>{% endif %}
      {% if page.external_url %}
      <p>
        <strong>
          <a href="{{ page.external_url }}">
            This post is published externally at
            {{ page.external_url }}
            <img src="{% link /assets/Icon_External_Link.svg %}" alt="external link" />.
          </a>
        </strong>
      </p>
      {% endif %}
      {{content}}
      <hr/>
      {% if 0 < page.tags.length %}
      <p>
        Tags:
        {% for tag in page.tags %}{{tag}}{% if forloop.last == false %}, {% endif %}{% endfor %}.
      </p>
      {% endif %}
      <p>
        {% if page.author == "jim" %}
          I wrote this because {{page.justification}}
          This post is not associated with my employer.
        {% else %}
          <a href="{{site.data.people[page.author].url}}">{{site.data.people[page.author].name}}</a> wrote this.
          This post is presumably not associated with their employer.
        {% endif %}
      </p>
      {% include navbar.html %}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90722538-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
    if (window.navigator && window.navigator.serviceWorker) {
      window.navigator.serviceWorker.register("{% link service-worker.js %}");
    }
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", () =>
      Array.prototype.forEach.call(
        document.getElementsByClassName("answer"),
        el => el.addEventListener("click", () => el.classList.add("revealed"))));
    </script>
  </body>
</html>
